/* Colours */

/* #556450 - dusky green - primary */
/* #C4C8BA - moss grey - primary accent*/
/* #EFF0EE - off-white - logo text, body background */
/* #9AA089 - willow grey-green - accent background */
/* #F1EEE6 - light oat - muted background */
/* #E9E4D4 - oat linen - footer background  */
/* #282828 - charcoal - heading typography */
/* #3C3A36 - charcoal ash - body typography */

/* Screen breakpoints */

/* small - 360px - mobiles */
/* medium - 768px - tablets, small laptops */
/* large - 1180px - desktops, large laptops */

/* Textual styles */

body {
  font-family: "IBM Plex Sans", Arial, Helvetica, sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  color: #3C3A36;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  color: #282828;
  margin: 0;
  padding: 1rem 0;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.75rem;
}

a {
  font-weight: 500;
  text-decoration: none;
  color: #282828;
}

.primary {
  color: #556450 !important;
}

/* Page layout */

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  scroll-behavior: smooth;
}

html {
  background-color: #556450;
}

body {
  background-color: #EFF0EE;
}

header {
  box-sizing: border-box;

  top: 0;
  left: 0;
  width: 100%;

  background-color: #556450;
  color: #EFF0EE;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;

  overflow: hidden;
  border-bottom: 12px solid #C4C8BA;
}

main {
  box-sizing: border-box;
  background-color: whitesmoke;
}

footer {
  box-sizing: border-box;
  background: #E9E4D4;
  background-image: url(../img/wreath.svg);
  background-repeat: no-repeat;
  background-position: bottom -150px left -100px;
}


/* Responsive layout changes for small and medium-large screens */
header {
  padding: 0.5rem 2rem;
}

footer {
  padding: 1.5rem 2rem;
}

footer > .row {
  flex-direction: column;
  column-gap: auto;
}

@media screen and (min-width: 768px) {
  header {
    padding: 1rem 3rem;
  }

  footer {
    padding: 3rem 4rem 1rem;
  }

  footer > .row {
    flex-direction: row;
  }
}

header > .logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

header > .logo > h1 {
  font-family: "Aref Ruqaa Ink", serif;
  font-weight: 200;
  color: #EFF0EE;
}

header > .logo > img {
  height: 60px;
  background-color: transparent;
  border: none;
}

header > .logo > h1 {
  font-size: 1.25rem;
}

/* Change logo size on medium and larger screens */
header > .logo > img {
  max-width: 200px;
}

@media screen and (min-width: 768px) {
  header > .logo > img {
    max-width: 300px;
  }
}

header > nav {
  display: flex;
  flex-direction: row;
  column-gap: 1.5rem;
  font-size: large;
}

header > nav > a {
  font-family: "Playfair Display", serif;
  font-weight: 500;
  letter-spacing: 0.1rem;
  text-decoration: none;
  color: #9AA089;
}

header > nav > a.btn {
  color: #556450;
  background-color: #EFF0EE;
}

header > nav > a.btn:hover {
  background-color: #556450;
  border-color: #EFF0EE;
  color: #EFF0EE;
}

header > nav > a:active,
header > nav > a.active,
header > nav > a:hover,
header > nav > a:focus {
  color: #EFF0EE;
}

footer img.icon,
footer svg.icon {
  margin-right: 0.5rem;
} 

/* Responsive layout changes for small and medium-large screens */

footer > .row {
  column-gap: 0.5rem;
}

footer p {
  margin: 0.5rem 0;
}

footer h1, footer h2, footer h3 {
  margin: 0.5rem 0;
}

@media screen and (min-width: 768px) {
  footer > .row {
    column-gap: 1.5rem;
  }

  footer p {
    margin: 1rem 0;
  }

  footer h1, footer h2, footer h3 {
    margin: 1rem 0;
  }
}

main section {
  padding: 4rem 2rem;
}

main section.hero {
  margin-left: 0;
  margin-right: 0;
  background-image: url('../img/clouds.jpg');
  object-fit: cover;
  background-repeat: no-repeat;
  object-position: center;
}

main section.hero {
  padding: 2rem; /* Less vertical padding to bring content immediately into view */
}

@media screen and (min-width: 768px) {
  main section {
    padding: 4rem;
  }

  main section.hero {
    padding: 4rem;
  }
}

main section.primary {
  background-color: #556450;
}

main section.muted {
  background-color: #F1EEE6;
}

main section.accent {
  background-color: #9AA089;
}

@media screen and (min-width: 768px) {
  .two-col {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }

  .two-one-col {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 2rem;
  }

  .two-col p,
  .two-col img {
    max-width: 65ch;
  }
}

@media screen and (min-width: 1180px) {
  .two-col-lg {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 2rem;
  }

  .two-one-col-lg {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 2rem;
  }

  .two-col-lg p,
  .two-col-lg img {
    max-width: 65ch;
  }
}

p {
  line-height: 1.7;
}

p:first-child {
  margin-top: 0;
}

a.btn {
  border-radius: 6px;
  padding: 0.45rem 1.5rem;
  font-family: "Playfair Display", serif;
  font-weight: 500;
  letter-spacing: 1.3px;
  text-decoration: none;
  color: #EEF0EA;
  background-color: #556450;
  transition: all 0.2s ease;
  border: 2px solid #556450
}

a.btn:hover {
  background-color: #EEF0EA;
  border: 2px solid #556450;
  color: #556450;
  text-decoration: none;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex-wrap: wrap;
  margin-bottom: 1.5rem;
}

/* Team photos */

.team-photos {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.team-photos > img {
  aspect-ratio: 1;
  object-fit: cover;
  border: none;
  box-shadow: -3px 4px 8px rgba(0, 0, 0, 0.2);
}

/* Add spacing when viewed vertically on small screens */
.team-photos {
  padding-top: 1.5rem;
}

@media screen and (min-width: 1180px) {
  .team-photos {
    padding-top: 0;
  }
}

/* Resize images to suit screen size */
.team-photos > img {
  width: 200px;
  height: 200px;
}

.team-photos > img:nth-child(n+2) {
  margin-left: -70px;
}

@media screen and (min-width: 768px) {
  .team-photos > img {
    width: 280px;
    height: 280px;
  }

  .team-photos > img:nth-child(n+2) {
    margin-left: -100px;
  }
}

/* Products */

section.product {
  margin: 2rem 0 !important;
  padding: 0;
  box-sizing: border-box;
  background-color: #556450;
  color: #C4C8BA;
  border-radius: 0.4rem;

  display: flex;
  flex-direction: row;
}

section.product.small {
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  section.product:not(.small) {
    flex-direction: row;
  }
}

section.product .details {
  padding: 1.5rem 2rem 2rem;
}

section.product h2 {
  font-family: "Aref Ruqaa Ink", serif;
  font-weight: 200;
  font-size: 1.7rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  color: #EFF0EE;
}

section.product .price {
  font-family: "Playfair Display", serif;
  font-weight: 400;
}

section.product .price .amount {
  font-weight: 500;
  font-size: 1.25rem;
}

img.product {
  object-fit: cover;
  height: auto;
  border: 0;
}

section.product.small > img.product {
  width: 100%;
  max-width: none;
  border-top-left-radius: 0.4rem;
  border-top-right-radius: 0.4rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

section.product img.product {
  width: 100%;
  max-width: none;
  border-top-left-radius: 0.4rem;
  border-top-right-radius: 0.4rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

@media screen and (min-width: 768px) {
  section.product img.product {
    max-width: 45%;
    border-top-left-radius: 0;
    border-top-right-radius: 0.4rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0.4rem;
  }
}

.two-col > section.product {
  margin-top: 0 !important;
}

.two-col > section.product.small:last-of-type {
  margin-bottom: 0 !important;
}

/* Materials */

h2#materials {
  margin-bottom: 1rem;
}

section.material {
  display: flex;
  flex-direction: column;
  border: 2px solid #C4C8BA;
  background: #C4C8BA;
  border-radius: 0.4rem;
  padding: 1.5rem;
}

section.material:not(:last-of-type) {
  margin-bottom: 2rem;
}

/* FAQs */

.faq {
  padding-left: 2rem;
  padding-bottom: 1rem;
  border-left: 2px solid #C4C8BA;
  transition: background-color 0.2s ease;
  border-top-right-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;
  padding-right: 1.5rem;
}

.faq:not(:last-of-type) {
  margin-bottom: 2rem;
}

.faq:hover {
  background-color: #E9E4D4;
}

.faq > h3 {
  font-size: 1.2rem;
}

.faq > p {
  margin: 0;
}

/* Carousel */

.carousel {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
}

.carousel > img.main {
  width: 100%;
  max-height: 100%;
  object-fit: contain;
  background-color: transparent;
}

.carousel > nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 1rem;
}

.carousel > nav > img.thumb {
  width: 100px;
  max-height: 100%;
  object-fit: cover;
  cursor: pointer;
  transition: all 0.2s ease;
}

.carousel > nav > img.active {
  border: 2px solid #556450;
  opacity: 0.6;
}

@media screen and (min-width: 768px) {
  .carousel {
    flex-direction: row;
    align-items: flex-start;
  }

  .carousel > nav {
    flex-direction: column;
  }
}

/* Content styles */

img {
  border: 2px solid #C4C8BA;
  background-color: #C4C8BA;
}

img.icon,
svg.icon {
  width: 1rem;
}

svg.icon {
  fill: #3C3A36;
}

img.secondary {
  max-width: 400px;
  width: 100%;
}

img.circle {
  border-radius: 50%;
  object-fit: cover;
  aspect-ratio: 1;
}

img.transparent {
  background-color: transparent;
  border: none;
}

img.hero-insert {
  max-width: 400px;
  width: 100%;
  border-width: 12px;
}

/* Utility classes */

.d-sm {
  display: block;
}

.d-sm-none {
  display: none;
}

@media screen and (min-width: 768px) {
  .d-md {
    display: block;
  }

  .d-md-none {
    display: none;
  }
}

@media screen and (min-width: 1180px) {
  .d-lg {
    display: block;
  }

  .d-lg-none {
    display: none;
  }
}

.mt-sm {
  margin-top: 2rem;
}

@media screen and (min-width: 768px) {
  .mt-sm {
    margin-top: auto;
  }
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column; 
}

.row.baseline {
  align-items: baseline;
}

.row.vcenter,
.col.hcenter {
  align-items: center;
}

.col.vcenter,
.row.hcenter {
  justify-content: center;
}

.row.space-between,
.col.space-between {
  justify-content: space-between;
}