/* Colours */

/* #9AA089 - willow grey-green - primary */
/* #E9E4D4 - oat linen - header/footer background  */
/* #7B5E45 - earth umber - primary accent, lead text */

/* #C4C8BA - moss grey - secondary backgrounds */
/* #282828 - charcoal - heading typography */
/* #3C3A36 - charcoal ash - body typography */

/* Textual styles */

body {
  font-family: "IBM Plex Sans", Arial, Helvetica, sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  color: #3C3A36;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: bold;
  color: #282828;
  margin: 0;
  padding: 1rem 0;

}

@media screen and (max-width: 768px) {
  h1, h2, h3, h4, h5, h6 {
    padding: 1rem 0;
  }
}

a {
  font-weight: 500;
  text-decoration: underline;
  text-decoration-style: wavy;
  color: #282828;
}

/* Page layout */

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  scroll-behavior: smooth;
}

html {
  background-color: #E9E4D4;
}

body {
  background-color: whitesmoke;
}

header {
  box-sizing: border-box;

  top: 0;
  left: 0;
  width: 100%;

  background-color: #E9E4D4;

  padding: 1rem 3rem;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;

  overflow: hidden;
}

main {
  box-sizing: border-box;
  background-color: whitesmoke;
  padding: 1rem 3rem 2rem;
}

footer {
  box-sizing: border-box;
  background: #E9E4D4;
  padding: 1rem 3rem;
}

@media screen and (max-width: 768px) {
  header {
    padding: 0.5rem 1.5rem;
  }

  main {
    padding: 0.5rem 1.5rem 2rem 1.5rem;
  }

  footer {
    padding: 1.5rem 1.5rem;
  }

  footer > .row {
    flex-direction: column;
    column-gap: auto;
  }
}

header > img#logo {
  max-width: 300px;
  height: 60px;
  background-color: transparent;
  border: none;
}

@media screen and (max-width: 768px) {
  header > img#logo {
    width: 100px;
  }
}

header > nav {
  display: flex;
  flex-direction: row;
  column-gap: 1.5rem;
  font-size: large;
}

@media screen and (max-width: 768px) {
  header > nav > a:not(.btn) {
    display: none !important;
  }
}

header > nav > a {
  font-family: "Playfair Display", serif;
  font-weight: 500;
  letter-spacing: 0.1rem;
  text-decoration: none;
}

header > nav > a:hover,
header > nav > a:focus {
  border-bottom: 2px solid #7B5E45;
}

header > nav > a:active,
header > nav > a.active {
  border-bottom: 2px solid #3C3A36;
}

footer {
  background: linear-gradient(
    to bottom,
    #E9E4D4 0%,
    #E3DDCC 100%
  );
}

footer > .row {
  column-gap: 1.5rem;
}

footer img.icon,
footer svg.icon {
  margin-right: 0.5rem;
}

@media screen and (max-width: 768px) {
  footer > .row {
    column-gap: 0.5rem;
  }

  footer p {
    margin: 0.5rem 0;
  }

  footer h1, footer h2, footer h3 {
    margin: 0.5rem 0;
  }
}

main section {
  margin: 3rem 0;
}

main section:nth-of-type(even) {
  background-color: #F1EEE6;
  padding: 1.5rem;
}

@media screen and (max-width: 768px) {
  main section {
    margin: 1.5rem 0;
  }

  main section:nth-of-type(even) {
    padding: 0.5rem 0.75rem 1rem 0.75rem;
  }
}

@media screen and (min-width: 768px) {
  .two-col {
    display: flex;
    flex-direction: row;
    column-gap: 3rem; 
  }

  .two-col p,
  .two-col img {
    max-width: 65ch;
  }
}

@media screen and (min-width: 1180px) {
  .two-col-lg {
    display: flex;
    flex-direction: row;
    column-gap: 3rem; 
  }

  .two-col-lg p,
  .two-col-lg img {
    max-width: 65ch;
  }
}

p {
  line-height: 1.7;
}

p:first-child {
  margin-top: 0;
}

section .lead {
  font-family: "Playfair Display", serif;
  font-style: italic;
  color: #7B5E45;
  margin-top: -0.5rem;
  margin-bottom: 1.5rem;
}

@media screen and (max-width: 768px) {
  .section .lead {
    margin-bottom: 0.75rem;
  }
}

.product {
  width: 100%;
  box-sizing: border-box;
  background-color: #EEF0EA;
  padding: 0.5rem 1.5rem 1.5rem 1.5rem;
  margin-top: 1.5rem;
}

@media screen and (max-width: 768px) {
  .product {
    padding: 0.5rem 0.75rem 1rem 0.75rem;
    margin-bottom: 1.5rem;
  }
}

.fleuron {
  width: 100%;
  height: 80px;
  float: left;
  margin: -45px auto 0 auto;
  background: url('../img/fleuron.svg') no-repeat center;
  background-size: contain;
  background-color: transparent;
}

a.btn {
  border-radius: 6px;
  padding: 0.45rem 1.5rem;
  font-family: "Playfair Display", serif;
  font-weight: 500;
  text-decoration: none;
  color: white;
  background-color: #7B5E45;
  transition: all 0.2s ease;
  border: 2px solid #7B5E45
}

a.btn:hover {
  background-color: whitesmoke;
  border: 2px solid #7B5E45;
  color: #7B5E45;
  text-decoration: none;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex-wrap: wrap;
  margin-bottom: 1.5rem;
}

/* Carousel */

.carousel {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.carousel > img.main {
  height: auto;
  display: flex;
  width: 100%;
}

.carousel > nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 1rem;
}

.carousel > nav > img.thumb {
  width: 100px;
  transition: all 0.2s ease;
  cursor: pointer;
}

.carousel > nav > img.active {
  filter: grayscale(1);
}

@media screen and (max-width: 768px) {
  .carousel {
    justify-content: flex-start;
    flex-direction: column;
  }

  .carousel > img.main {
    width: 100%;
  }

  .carousel > nav {
    flex-direction: row;
  }
}

/* Content styles */

img {
  border: 2px solid #C4C8BA;
  background-color: #C4C8BA;
}

img.icon,
svg.icon {
  width: 1rem;
}

svg.icon {
  fill: #3C3A36;
}

img.secondary {
  max-width: 400px;
  width: 100%;
}

/* Utility classes */

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column; 
}

.row.baseline {
  align-items: baseline;
}

.row.vcenter,
.col.hcenter {
  align-items: center;
}

.col.vcenter,
.row.hcenter {
  justify-content: center;
}

.row.space-between,
.col.space-between {
  justify-content: space-between;
}